body{
    background: lightgray;
    font-family: "Roboto";
}

.topo{
    background: #cf2b2b;
    color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #bbbbbb;

}

.produto{
    background: white;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 10px;
    box-shadow: 0 0 10px 0 #bbbbbb;
    cursor: pointer;
    border: 5px solid white;
}

h1{
    margin: 0;
    font-family: "Righteous";
    font-weight: normal;
}

h2{
    margin: 0;
    font-size: 18px;
    font-weight: normal;

}

h3{
    font-size: 30px;
    margin-bottom: 15px;
    font-family: "Righteous";
    font-weight: bold;
}

h4{
    margin-top: 0;
    margin-bottom: 5px;
    font-size: 20px;

}

img{
    width: 130px;
    border-radius: 5px;
    float: right;
    margin-left: 15px;
}

p {
    margin: 15px 0 0 0;
}

.preço{
    font-weight: bold;
    font-size: 18px;
}

.botao {
background: #0b940b;
text-align: center;
padding: 15px;
margin-top: 30px;
margin-bottom: 100px;
border-radius: 50px;
color: white;
font-weight: bold;
font-size: 18px;
cursor: pointer;
}